<div *ngIf="entryFlag || editEntryFlag">
    <br>
    <mat-card>
        <mat-card-title class="entry-card-title">{{editEntryFlag ? "Edit Entry" : "Add Entry"}}</mat-card-title>
        <mat-card-content>
            <div fxLayout="row" fxLayoutGap="1em">
                <mat-form-field>
                    <input matInput placeholder="{{'profile-components.age' | translate}}">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-divider [inset]="true"></mat-divider>
        <mat-card-actions align="end">
            <button mat-button (click)="edit()"
                *ngIf="editEntryFlag">{{'studies-components.update' | translate}}</button>
            <button mat-button (click)="close()">{{'studies-components.close' | translate}}</button>
        </mat-card-actions>
    </mat-card>
    &nbsp;
</div>

<mat-card *ngIf="loggedInUser.role !== 1">
    <mat-card-title>{{loggedInUser.firstName}} {{loggedInUser.lastName}}</mat-card-title>
    <div class="d-flex justify-content-between">
        <mat-card-subtitle>{{ roles | findValue : loggedInUser.role : selectedLanguage}}</mat-card-subtitle>
        <button class="mb-2" mat-menu-item (click)="editEntry(user)"
            *ngIf="loggedInUser.role === 0 || loggedInUser.role === 1 || loggedInUser.role !== 1">
            <mat-icon>edit</mat-icon>
            <span>{{'studies-components.action_edit' | translate}}</span>
        </button>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a style="color: black;" class="nav-link active" id="bio-tab" data-toggle="tab" href="#bio" role="tab"
                aria-controls="bio" aria-selected="true">
                {{'profile-components.biological_info' | translate}}
            </a>
        </li>
        <li class="nav-item">
            <a style="color: black;" class="nav-link" id="geo-tab" data-toggle="tab" href="#geo" role="tab"
                aria-controls="geo" aria-selected="false">{{'profile-components.geographical_info' | translate}}</a>
        </li>
        <li class="nav-item">
            <a style="color: black;" class="nav-link" id="general-tab" data-toggle="tab" href="#general" role="tab"
                aria-controls="general" aria-selected="false">General Information</a>
        </li>
        <li class="nav-item">
            <a style="color: black;" class="nav-link" id="research-tab" data-toggle="tab" href="#research" role="tab"
                aria-controls="research" aria-selected="false">{{'profile-components.research_info' | translate}}</a>
        </li>
    </ul>
    <div class="tab-content mb-4" id="myTabContent" style="margin-left: 20px; margin-top: 25px;">
        <div class="tab-pane fade show active" id="bio" role="tabpanel" aria-labelledby="bio-tab">
            <div class="row">
                <div class="col-md-1">
                    <mat-label class="label-name">{{'profile-components.age' | translate}}:</mat-label>

                </div>
                <div class="col-md-1">
                    <mat-label>{{loggedInUser.age ? loggedInUser.age : 'N/A'}}</mat-label>
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-md-1">
                    <mat-label class="label-name">{{'profile-components.gender' | translate}}:</mat-label>
                </div>
                <div class="col-md-1">
                    <mat-label>{{ sex | findValue : loggedInUser.sex : selectedLanguage}}</mat-label>
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-md-1">
                    <mat-label class="label-name">Ethnicity:</mat-label>
                </div>
                <div class="col-md-1">
                    <mat-label>Asian</mat-label>
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-md-1">
                    <mat-label class="label-name">Height:</mat-label>
                </div>
                <div class="col-md-1">
                    <mat-label>200cm</mat-label>
                </div>
            </div>
            &nbsp;
            <div class="row">
                <div class="col-md-1">
                    <mat-label class="label-name">Weight:</mat-label>
                </div>
                <div class="col-md-1">
                    <mat-label>140 lb</mat-label>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="geo" role="tabpanel" aria-labelledby="geo-tab">
            <div fxLayout="row" fxLayoutGap="1em">
                <mat-label class="label-name">{{'profile-components.address' | translate}}:</mat-label>
                <mat-label>{{loggedInUser.address}}</mat-label>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
                <img src="{{getStaticMap(loggedInUser.address)}}" />
            </div>
        </div>
        <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
            <div fxLayout="row" fxLayoutGap="1em">
                <mat-label class="label-name">Occupation:</mat-label>
                <mat-label>Computer Programmer</mat-label>
            </div>
            &nbsp;
            <div fxLayout="row" fxLayoutGap="1em">
                <mat-label class="label-name">Has kids:</mat-label>
                <mat-label>Yes</mat-label>
            </div>
            &nbsp;
            <div fxLayout="row" fxLayoutGap="1em">
                <mat-label class="label-name">Smoke:</mat-label>
                <mat-label>No</mat-label>
            </div>
            &nbsp;
            <div fxLayout="row" fxLayoutGap="1em">
                <mat-label class="label-name">Drink:</mat-label>
                <mat-label>No</mat-label>
            </div>
        </div>
        <div class="tab-pane fade" id="research" role="tabpanel" aria-labelledby="research-tab">
            <mat-label>{{'profile-components.participated_in' | translate}} {{loggedInUser.studies.length}}
                {{'profile-components.studies' | translate}}.</mat-label>
        </div>
    </div>
</mat-card>
