mat-form-field {
    width: 100%;
}

mat-form-field-2 {
    width: 50%;
}

mat-card {
    margin-bottom: 1em;
    border: 1px red solid;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}

.register-form {
    padding-bottom: 1em;
}

mat-hint {
    font-size: x-small;
}

#error {
    color: red;
    padding-bottom: 1em;
    font-size: small;
}

.welcome-title {
    font-size: 62px;
    margin-bottom: 25px;
}

.login-button {
    width: 300px;
    margin-bottom: 15px;
}

.register-button {
    width: 300px;
    margin-bottom: 15px;
}