<mat-toolbar color="secondary" class="footer">
    <p>{{'app-footer.rights' | translate}}</p>
    <span class="spacer"></span>
    <!-- https://icons8.com/icon/set/social-media/material-outlined -->
    <ul>
        <li>
            <a target="_blank" href="https://www.google.com">
                <img src="../../../assets/images/google-plus.png"></a>
        </li>
        &nbsp;
        <li>
            <a target="_blank" href="https://www.facebook.com">
                <img src="../../../assets/images/facebook.png"></a>
        </li>
        &nbsp;
        <li>
            <a target="_blank" href="https://www.twitter.com">
                <img src="../../../assets/images/twitter.png"></a>
        </li>
        &nbsp;
        <li>
            <a target="_blank" href="https://www.linkedin.com">
                <img src="../../../assets/images/linkedin.png"></a>
        </li>
    </ul>
</mat-toolbar>
