<!--
<div class="study-card">
    <div class="study-title">Title here</div>
    <p>picture here</p>
    <div class="study-description">
        Description here
    </div>
</div>
-->

<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile>
        <div class="study-card">
            <div class="study-title">Title here</div>
            <p>picture here</p>
            <div class="study-description">
                Description here
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="study-card">
            <div class="study-title">Title here</div>
            <p>picture here</p>
            <div class="study-description">
                Description here
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="study-card">
            <div class="study-title">Title here</div>
            <p>picture here</p>
            <div class="study-description">
                Description here
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="study-card">
            <div class="study-title">Title here</div>
            <p>picture here</p>
            <div class="study-description">
                Description here
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
